body {
  background-color: #ECECEB;
  color: #10316B;
  padding: 10px;
}

h1, h3 {
  color: #E25822;
}

div {
  border: 2px;
  border-color: #000000;
  border-style: inset;
  padding: 20px;
  margin-bottom: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

p {
  display: inline-block;
}

textarea {
  width: 173px;
}

.underline {
  text-decoration: underline;
}
